    @font-face {
        font-family: bodoni;
        src: url("../Resourses/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf");
      }
      
      .header {
        display: flex;
        background-color: #f7f3e6;
        height: 200px;
        text-align: right;
        margin-bottom: 100px;
      }
      
      .header a {
        margin-top: auto;
        margin-bottom: 0;
        text-decoration: none;
        font-size: 55px;
        color: black;
        font-family: bodoni;
        font-weight: normal;
      }
      
      nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 70%;
        margin-right: 20px;
      }
      
      nav a {
        margin-left: 80px;
        text-decoration: none;
        font-size: 40px;
      }
      
      body {
        background-color: #f7f3e6;
      }
      
      .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      /* Mobile Styles */
      @media only screen and (max-width: 576px) {
        .header {
          align-content: center;
          height: 375px;
        }
      
        .header a {
          font-size: 40px;
          text-align: left;
          margin-left: 15px;
        }
      
        nav {
          flex-direction: column;
        }
      
        nav a {
          margin-left: 20px;
          text-decoration: none;
          color: #000000;
          font-weight: normal;
          font-size: 30px;
        }
      
        .body h1 {
          margin: 0%;
          padding: 5%;
          text-align: center;
        }
      
        .body h1 {
          margin: 0%;
          padding: 2%;
          margin-top: 30px;
        }
      
        .body p {
          margin: 0%;
          padding: 5%;
          font-size: 20px;
        }
      }
      